<nav class="bg-white border-b border-gray-200 px-6 py-3 flex justify-between items-center">
  
    <a routerLink="/" class="flex items-center gap-2 text-2xl font-bold">
      PetConnect
    </a>
  
    <div class="hidden md:flex gap-6 text-gray-700 font-medium">
      <a routerLink="/pets" routerLinkActive="text-pink-600">Mascotas</a>
      <a routerLink="/adoption" routerLinkActive="text-pink-600">Adopciones</a>
      <a routerLink="/stories" routerLinkActive="text-pink-600">Historias</a>
      <a routerLink="/analytics" routerLinkActive="text-pink-600">Analytics</a>
    </div>
  
    <div class="flex gap-4">
      <a routerLink="/login" class="text-gray-400 hover:text-sky-600">Login</a>
      <a routerLink="/register" class="bg-sky-400 text-white px-3 py-1 rounded-lg hover:bg-sky-500">
        Registrarse
      </a>
    </div>
  </nav>
  